// Here you can add other styles
.collapsed-menu {
  width: 4rem;
  margin-left: auto !important;

  .sidebar-toggler {
    &::before {
      transform: rotate(180deg);
      transition: 1s;
    }
  }

  .nav-link {
    overflow: hidden;
  }


}

.collapsed-wrapper {
  padding-left: 4rem !important;
}

@media (max-width: 768px) {
  html:not([dir=rtl]) {
    .sidebar.sidebar-fixed:not(.sidebar-end) {
      width: 4rem;
      margin-left: auto;
    }
  }
}

.nav {

  .active {
    border-bottom: 1px solid;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}

// Size //
.w-15-icon {
  width: 15px;
  height: 15px;
}